.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40rem;

  //background-image: url(../../public/stock/online1.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../public/services/red-garra.jpg);
  background-position: center;
  background-size: cover;

  h1,
  h2 {
    color: #fff;
    text-align: center;
  }

  h1 {
    font-size: 5rem;
  }
}
