@import "../styles/variables.module.scss";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;

  background-color: $color-primary;

  span {
    color: #fff;
    font-size: 1.4rem;
  }
}
