.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 60vh;

  //background-image: url(../../public/stock/online1.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../public/stock/online1.jpg);
  background-position: bottom;
  background-size: cover;

  h1,
  h2 {
    color: #fff;
    text-align: center;
  }

  h1 {
    font-size: 5rem;
  }

  a {
    //background: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2rem);
    box-shadow: inset 0 0 0 1px #fff;
    width: 8.5em;
    //height: 2.5rem;
    border-radius: 0.5em;
    line-height: 2.5em;
    text-align: center;
    font-size: 2em;
    margin: 5rem;
    color: #fff;

    cursor: pointer;
  }
}
.homeButton:hover {
  background: rgba(255, 255, 255, 0.3);
}
