@import url("http://fonts.cdnfonts.com/css/vivaldi");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  //width: 40rem;

  padding: 3.5rem 0;

  background-color: antiquewhite;
  //border: 1px solid black;

  &__title {
    font-size: 3.5rem;
    font-family: "Vivaldi", Sans-serif;

    border-bottom: 1px solid gray;
  }

  &__iconWhats {
    font-size: 5rem;
    color: #25d366;
  }

  &__iconMessenger {
    font-size: 4.6rem;
    color: #006aff;
  }
}

.buttonsContainer {
  display: flex;
  gap: 1.5rem;

  margin-top: 2rem;

  padding: 1rem 1.5rem;

  background-color: #fff;
  border-radius: 5rem;
  border: 0.1rem solid black;
}
