@import "../../styles/variables.module.scss";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  padding: 0 10%;
  background-color: $color-primary;
  color: #fff;

  //overflow: scroll;

  a {
    font-size: 2rem;
    padding: 0.5rem 1rem;

    cursor: pointer;
  }
}

.navbarMobile {
  display: flex;
  justify-content: center;
  gap: 1rem;

  background-color: $color-primary;
  img {
    display: none;
    height: 6rem;
    padding: 1rem;
  }
}

@media (max-width: 700px) {
  .navbarMobile img {
    display: initial;
  }
  .navbar {
    display: none;
  }
}
