.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 3rem 20%;
}

.image {
  width: 20rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60rem;

  margin-left: 2rem;

  h3 {
    color: #a74c5e;
    font-size: 2.5rem;

    margin-bottom: 1rem;
  }

  li {
    margin-left: 2rem;
  }

  p,
  li {
    color: rgb(112, 112, 112);
    font-size: 1.5rem;
    font-weight: 400;
  }
}
